//output:index.html
extends layout

block title
  title MBox

block body
  style.
    #sheet {
      background-color: #fe8
    }

  .container
    fieldset.row
      .col-6
        .form-group
          label(for="曲名")
          select.form-control#song
            option(value="songs/jesu.txt") 主よ、人の望みの喜びよ
            option(value="songs/desire-drive.txt") デザイアドライブ
      .col-6
        button.btn.btn-primary#button-load(type="button") 選択
        button.btn.btn-primary#button-play(type="button" disabled) 再生
    .row
      .col-12
        canvas#sheet

  script(src="vm-score.js" type="module")
