extends layout

block title
  title MBox

block body
  style.
    #sheet-viewer, #bg-editor {
      background-color: #fe8
    }
    
    #sheet-editor {
      background: transparent;
      z-index: 100;
    }
    
    #sheet-editor, #bg-editor {
      position: absolute;
      left: 0;
      top: 0;
    }
    
    #editor-container {
      position: relative;
    }

  .container
    fieldset.row
      .col-6
        .form-group
          label(for="曲名")
          select.form-control#song
            option(value="") 曲名を選択
      .col-6
        button.btn.btn-primary#button-play(type="button" disabled) 再生
        button.btn.btn-primary#button-edit(type="button") 編集
    .row#row-viewer
      .col-12
        canvas#sheet-viewer
    .row#row-editor
      .container
        .row
          .col-12
            button.btn.btn-primary#button-edit-up(type="button") ↑
            button.btn.btn-primary#button-edit-down(type="button") ↓
        .row
          .col-12
            #editor-container
              canvas#sheet-editor
              canvas#bg-editor

  script(src="viewmodel.js" type="module")
